<section class="createMemeContainer">

  <div class="searchBarCreateMeme">
    <h2>Select A Meme Background</h3>
    <form>
      <input id="createSearch" type="text" ng-model="searchValue" placeholder="Search for a Background">
    </form>
  </div>

  <!-- ********create meme modal window ************* -->
  <!-- setup credit to ww3 schools @ http://www.w3schools.com/howto/howto_css_modals.asp -->
  <div id="modal" class="createMemeModal">
    <div class="modalContent">
      <div class="modal-header">
        <span ng-click="meme.closeCreateMemeModal()" id="close" class="close">&times;</span>
        <h2>Create A Meme</h2>
      </div>
      <div class="modal-body">
        <h3 class="modalTitle">{{meme.memeName}}</h3>
        <img ng-src="{{meme.memeUrl}}" alt="{{meme.memeName}}">
        <form ng-submit="meme.createMeme(newMeme, meme.memeId, home.currentUser._id)">
          <input type="text" ng-model="newMeme.name" placeholder="name">
          <input type="text" ng-model="newMeme.topText" placeholder="top text">
          <input type="text" ng-model="newMeme.bottomText" placeholder="Bottom text">
          <input type="text" ng-model="newMeme.category" placeholder="category"><br>
          <button type="submit">Create</button>
        </form>
      </div>
    </div>
  </div>
<!-- *********************************************** -->
  <section class="blankMemeContainer">

    <div ng-click="meme.showCreateMemeModal(blank)" class="blankMemes" ng-repeat="blank in meme.blankMemes | filter: searchValue">
      <h4 class="memeTitles">{{blank.name}}</h4>
      <img ng-src="{{blank.url}}" alt="{{blank.name}}">
    </div>

  </section>
</section>
