<div class="homeSearch">
  <form id="searchMemes">
    <label for="mainSearch"><h2>Looking For A Meme?</h2></label>
    <input id="mainSearch" type="text" placeholder="Search for Memes" ng-model="searchBar">
  </form>
</div>
<br>
<br>
<div class="homeMemes">
  <div class="eachMeme" ng-repeat="meme in rand.shuffledMemesData | filter: searchBar">
    <h4 class="memeTitles">{{meme.name}}</h4>
    <img ng-src="{{meme.url}}" alt="{{meme.name}}"><br>
    <div ng-if="home.currentUser">
      <i ng-click="rand.saveFeedMeme(meme, home.currentUser._id)"  class="fa fa-heart memeFeedIcons iconSave"> Save</i><i class="fa fa-star memeFeedIcons iconFavorite" ui-sref="login"> Favorite</i>
    </div>
    <h6 class="memeTitles">Category: {{meme.category}}</h6>
  </div>
</div>
