<div class="homeSearch">
  <form id="searchMemes">
    <label for="mainSearch"><h2>Looking for a Meme?</h2></label>
    <input id="mainSearch" type="text" placeholder="Search for Memes" ng-model="searchBar">
  </form>
</div>
<br>
<br>
<div class="homeMemes">
  <div class="eachMeme" ng-repeat="meme in rand.shuffledMemesData | filter: searchBar">
    <img ng-src="{{meme.url}}" alt="{{meme.name}}"><br>
    <i class="fa fa-heart memeFeedIcons iconSave" ui-sref="signup"> Save</i><i class="fa fa-star memeFeedIcons iconFavorite" ui-sref="login"> Favorite</i>
  </div>
</div>
